# Node dependencies
node_modules/

# Compiled JS files
dist/
build/

# Environment variables
.env
.env.local
.env.*.local

# Logs
logs/
*.log

# Coverage reports
coverage/

# TS cache
*.tsbuildinfo

# OS & editor stuff
.DS_Store
.idea/
.vscode/
